In [2]:
import pandas as pd
import numpy as np
import cv2
import matplotlib.pyplot as plt
%matplotlib inline
from glob import glob
from PIL import Image
import pickle

In [3]:
df=pickle.load(open('D:/data science/Module-2/data/dataframe_images_100_100.pickle','rb'))

In [4]:
df.head()

,gender,0,1,2,3,4,5,6,7,8,...,9990,9991,9992,9993,9994,9995,9996,9997,9998,9999
0,male,106,100,81,69,71,48,51,55,41,...,17,18,26,28,31,30,31,29,31,31
1,male,45,47,48,48,48,49,50,52,50,...,137,135,134,135,138,138,137,138,138,135
2,male,165,184,209,224,220,211,193,170,153,...,14,14,14,13,13,14,14,14,14,15
3,male,141,143,148,156,161,173,157,138,146,...,205,203,173,86,72,60,46,59,88,148
4,male,180,115,41,103,23,25,36,35,25,...,112,110,104,112,86,83,116,126,111,113

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5455 entries, 0 to 6057
Columns: 10001 entries, gender to 9999
dtypes: object(1), uint8(10000)
memory usage: 52.1+ MB

In [6]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# Data Prepocessing
-Remove missing values 
-Data Normalization(min,max scaling)

In [7]:
#remove missing values
df.dropna(axis=0,inplace=True)

In [8]:
df.isnull().sum()

gender    0
0         0
1         0
2         0
3         0
         ..
9995      0
9996      0
9997      0
9998      0
9999      0
Length: 10001, dtype: int64

# data normalization
#split the data into dependent and independent

In [9]:
x=df.iloc[:,1:].values #independent values
y=df.iloc[:,0].values #dependent values

In [10]:
x.shape

(5455, 10000)

In [11]:
y.shape

(5455,)

# Min Max Scalling

#Xnorm=x-minvalue/maxvalue-minvalue

In [12]:
x.min()

0

In [13]:
x.max()

255

In [14]:
Xnorm=x/x.max()

In [16]:
Xnorm

array([[0.41568627, 0.39215686, 0.31764706, ..., 0.11372549, 0.12156863,
        0.12156863],
       [0.17647059, 0.18431373, 0.18823529, ..., 0.54117647, 0.54117647,
        0.52941176],
       [0.64705882, 0.72156863, 0.81960784, ..., 0.05490196, 0.05490196,
        0.05882353],
       ...,
       [0.26666667, 0.25490196, 0.16862745, ..., 0.1372549 , 0.18039216,
        0.18039216],
       [0.73333333, 0.7372549 , 0.74509804, ..., 0.17647059, 0.16078431,
        0.19215686],
       [0.        , 0.        , 0.        , ..., 0.00784314, 0.00784314,
        0.03529412]])

In [17]:
Xnorm.shape

(5455, 10000)

In [20]:
#female=1 & male=0
y_norm=np.where(y=='female',1,0)

In [21]:
y_norm

array([0, 0, 0, ..., 1, 1, 1])

In [22]:
#save x and y in numpy zip

In [23]:
np.savez('D:/data science/Module-2/data/data_10000_norm.npz',Xnorm,y_norm)